<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
{% load staticfiles %}
<script src="{{ STATIC_URL }}website/javascript/jquery.ba-outside-events.js"> </script>

<script>


    var map;
    var pointsLayer;

    function mapInit(){
        var lon = 0;
        var lat = 0;
        var zoom = 3;

        map = new OpenLayers.Map("mapp", {
            units : 'm',
            id:'haunted_map'
        });


        var gsat = new OpenLayers.Layer.Google(
                "Google Satellite",
                {type: google.maps.MapTypeId.SATELLITE, numZoomLevels: 22, sphericalMercator: true}
        );

        var gphy = new OpenLayers.Layer.Google(
                "Google Physical",
                {type: google.maps.MapTypeId.TERRAIN, sphericalMercator: true}
                // used to be {type: G_PHYSICAL_MAP}
        );
        var gmap = new OpenLayers.Layer.Google(
                "Google Streets", // the default
                {numZoomLevels: 20, sphericalMercator: true}
                // default type, no change needed here
        );
        var ghyb = new OpenLayers.Layer.Google(
                "Google Hybrid",
                {type: google.maps.MapTypeId.HYBRID, numZoomLevels: 20, sphericalMercator: true}
                // used to be {type: G_HYBRID_MAP, numZoomLevels: 20}
        );
        arrayOSM = ["http://otile1.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.jpg",
            "http://otile2.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.jpg",
            "http://otile3.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.jpg",
            "http://otile4.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.jpg"];
        arrayAerial = ["http://otile1.mqcdn.com/tiles/1.0.0/sat/${z}/${x}/${y}.jpg",
            "http://otile2.mqcdn.com/tiles/1.0.0/sat/${z}/${x}/${y}.jpg",
            "http://otile3.mqcdn.com/tiles/1.0.0/sat/${z}/${x}/${y}.jpg",
            "http://otile4.mqcdn.com/tiles/1.0.0/sat/${z}/${x}/${y}.jpg"];

        baseOSM = new OpenLayers.Layer.OSM("MapQuest-OSM Tiles", arrayOSM);
        baseAerial = new OpenLayers.Layer.OSM("MapQuest Open Aerial Tiles", arrayAerial);

        map.addLayer(baseOSM);
        map.addLayer(baseAerial);


        map.addLayer(gsat);
        map.addLayer(gphy);
        map.addLayer(gmap);
        map.addLayer(ghyb);

        var switcherControl = new OpenLayers.Control.LayerSwitcher();
        map.addControl(switcherControl);
        switcherControl.maximizeControl();

        if (!map.getCenter()) {
            var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map
                    .getProjectionObject());
            map.setCenter(lonLat, zoom);
        }



        {% if haunted_location_list %}
            featuresArray = new Array();
            {% for haunted_location in haunted_location_list %}

                var tempFeature = new OpenLayers.Feature.Vector(new OpenLayers.Geometry.Point({{ haunted_location.longitude }}, {{ haunted_location.latitude }}).transform(new OpenLayers.Projection("EPSG:4326"), map
                        .getProjectionObject()),{category:'{{haunted_location.category}}', slug:'{{haunted_location.get_absolute_url}}', name:'{{ haunted_location.name }}', id:'{{ haunted_location.id }}', lat:'{{ haunted_location.latitude }}', lon:'{{ haunted_location.longitude }}'});

                featuresArray.push(tempFeature);
            {% endfor %}
        {% else %}
        {% endif %}

        // create the layer styleMap by giving the default style a context
        var colors = ["red", "green", "blue"];
        var context = {

            getIcon: function(feature) {
                return feature.attributes["category"] === "Cemeteries" ? '{{ STATIC_URL }}website/icons/religious/cemetary.png':
                        feature.attributes["category"] === "Bridges" ?  '{{ STATIC_URL }}website/icons/monuments/bridge_old.png':
                                feature.attributes["category"] === "Ghost Lights" ?  '{{ STATIC_URL }}website/icons/tourism/star_3.png':
                                        feature.attributes["category"] === "Ghost Towns" ?  '{{ STATIC_URL }}website/icons/tourism/historicalquarter.png':
                                                feature.attributes["category"] === "Gravity Hills" ?  '{{ STATIC_URL }}website/icons/tourism/sight_2.png':
                                                        feature.attributes["category"] === "Historical Buildings" ?  '{{ STATIC_URL }}website/icons/tourism/bigcity.png':
                                                                feature.attributes["category"] === "Hotels and Inns" ?  '{{ STATIC_URL }}website/icons/hotels/bed_breakfast1-2.png':
                                                                        feature.attributes["category"] === "Lighthouses" ?  '{{ STATIC_URL }}website/icons/tourism/lighthouse-2.png':
                                                                                feature.attributes["category"] === "Military" ?  '{{ STATIC_URL }}website/icons/defensive/castle-2.png':
                                                                                        feature.attributes["category"] === "Miscellaneous" ?  '{{ STATIC_URL }}website/icons/ghost/ghost_of_hunger_past.png':
                                                                                                feature.attributes["category"] === "Houses Of Worship" ?  '{{ STATIC_URL }}website/icons/religious/prayer.png':
                                                                                                        feature.attributes["category"] === "Historical Sites" ?  '{{ STATIC_URL }}website/icons/tourism/historicalquarter.png':
                                                                                                                '{{ STATIC_URL }}website/icons/ghost/ghost_of_hunger_past.png';

            }
        };
        var defaultTemplate = {
            externalGraphic: "${getIcon}", // using context.getSize(feature)
            'pointRadius': 15
        };

        var selectTemplate = {
            externalGraphic: "${getIcon}", // using context.getSize(feature)
            'pointRadius': 30
        }

        var defaultStyle = new OpenLayers.Style(defaultTemplate, {context: context});
        var selectStyle = new OpenLayers.Style(selectTemplate, {context: context});
        pointsLayer = new OpenLayers.Layer.Vector("Haunted Locations",{
            styleMap: new OpenLayers.StyleMap({default: defaultStyle, select:selectStyle}),
            rendererOptions: {zIndexing: true},
            eventListeners:{
                'featureselected':function(evt){
                    var feature = evt.feature;
                    var popup = new OpenLayers.Popup.FramedCloud("popup",
                            OpenLayers.LonLat.fromString(feature.geometry.toShortString()),
                            null,
                            feature.attributes.category+"<br>"+feature.attributes.name,
                            null,
                            true,
                            null
                    );
                    popup.autoSize = true;
                    popup.maxSize = new OpenLayers.Size(400,800);
                    popup.fixedRelativePosition = true;
                    feature.popup = popup;
                    map.addPopup(popup);
                },
                'featureunselected':function(evt){
                    var feature = evt.feature;
                    map.removePopup(feature.popup);
                    feature.popup.destroy();
                    feature.popup = null;
                },
                'featureclick':function(evt){
                    var feature = evt.feature;
                    map.removePopup(feature.popup);
                    feature.popup.destroy();
                    feature.popup = null;
                    var popup_id = "big_popup";
                    {% load staticfiles %}
                    var html_content = "Category:"+feature.attributes.category+"<br>"+"Link:"+"<a href="+ feature.attributes.slug+"> "+feature.attributes.name+"</a>"+"<br>"+'<img src="{% static "website/icons/ghost/ghost.png" %}" alt="My image"/>';
                    var popup = new OpenLayers.Popup.FramedCloud(popup_id,
                            OpenLayers.LonLat.fromString(feature.geometry.toShortString()),
                            null,
                            html_content,
                            null,
                            true,
                            null
                    );
                    popup.autoSize = true;
                    popup.maxSize = new OpenLayers.Size(400,800);
                    popup.fixedRelativePosition = true;
                    map.addPopup(popup);
                }
            }
        });
        pointsLayer.addFeatures(featuresArray);

        map.addLayer(pointsLayer);

        // Create a select feature control and add it to the map.
        var select = new OpenLayers.Control.SelectFeature(pointsLayer, {hover: true});
        map.addControl(select);
        select.activate();


        function doFocusLocation(obj){

            var id = obj.getAttribute("data_id");
            var feature = pointsLayer.getFeaturesByAttribute("id",id);
            var lon = feature.lon;
            var lat = feature.lat;
            map.setCenter()
            alert(feature.attributes.id);
            {% comment %}   map.setCenter(10,10,5);{% endcomment %}

            return false;
        }
        $( document ).ready(function() {
            $('#search_results').bind('clickoutside', function (event) {

                $('#search_results').removeClass('search_results_active');
                $('#search_results').addClass('search_results_inactive');

            });
        });




    }

</script>