<html>
<div id="header">
    {% block header_menu %}
        <div class="container">
        <div class="icon">[Icon PlaceHolder]</div>
            <ul class="header_menu">
                <li> <a href="{% url 'HauntedIndex' %}" > Index </a> </li>
                <li> <a href="{% url 'AboutUs' %}"> About Us </a></li>
                <li> <a href="{% url 'HowItWorks' %}"> How It Works? </a></li>
            </ul>
        </div>
    {% endblock %}
    {% block styles %}
        {% load staticfiles %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link href="{{ STATIC_URL }}website/style/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="{{ STATIC_URL }}website/javascript/bootstrap.min.js"></script>
        <link href="{% static "website/style/site.css"  %}" type="text/css" rel="stylesheet" />
    {% endblock %}
</div>
<div id="content">
    {% block content %}
        <p>Here is our content that will be overwritten</p>
    {% endblock %}

</div>

<div id="scripts">
    {%  block scripts %}

    {% endblock %}
</div>
</html>
