{% extends "website/base.html" %}

{% block content %}
    <div class="container">
        <h2>Haunted Spot Details</h2>
        <div id="map" style="width:800px; height:300px;"></div>
        {{ haunted_location.name }}<br>


        Latitude: {{ haunted_location.latitude }} <br>
        Longitude: {{ haunted_location.longitude }} <br>
        <div id='address'></div>
        <p><h1>Wikipedia Entry</h1></p>
        <div id='wikipedia'></div>
        <div id ='wikipedia_url'></div>

        <p><h1>YouTube Videos</h1></p>
        {%  include 'website/partial/_youtube_search.html' %}

        <div class="col-md-6 md-margin-bottom-40">
            <!-- Monthly Newsletter -->
            <div class="headline"><h2>Please Leave Comment</h2></div>
            <form action="{% url 'CommentView' %}" method="post" class="footer-subsribe" id="comment_form">{% csrf_token %}
                <div class="input-group">
                    <input type="text" maxlength="255" name="user_name" class="form-control" placeholder="User Name (Optional)" id="id_user_name">
                    <input type="text" maxlength="255" name="email" class="form-control" placeholder="Email Address (Optional)" id="id_email">
                    <input type="hidden" name="haunted_location" value="{{haunted_location.id}}">
                    <textarea class="form-control" rows="4" name="comment" id = "id_comment"></textarea>
                    {#                        <label for="id_email">Email:</label> <input id="id_email" class="form-control" maxlength="255" name="email" type="text" />#}
                        <span class="input-group-btn">
                            <button class="btn-u" type="submit">Subscribe</button>
                        </span>
                </div><!-- /input-group -->
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}


    <script src="http://www.mapquestapi.com/sdk/js/v7.0.s/mqa.toolkit.js?key=Fmjtd%7Cluur296rnh%2C2a%3Do5-90rsdw"></script>

    <script type="text/javascript">

        /*An example of using the MQA.EventUtil to hook into the window load event and execute defined function
         passed in as the last parameter. You could alternatively create a plain function here and have it
         executed whenever you like (e.g. <body onload="yourfunction">).*/

        MQA.EventUtil.observe(window, 'load', function() {

            /*Create an object for options*/
            var mapOptions={
                elt:document.getElementById('map'),        /*ID of element on the page where you want the map added*/
                zoom:20,                                   /*initial zoom level of map*/
                latLng:{lat:{{ haunted_location.latitude }}, lng:{{ haunted_location.longitude }}},   /*center of map in latitude/longitude*/
                mtype:'map'                                /*map type (map)*/
            };

            /*Construct an instance of MQA.TileMap with the options object*/
            window.map = new MQA.TileMap(mapOptions);

            MQA.withModule('largezoom','traffictoggle','viewoptions','geolocationcontrol','insetmapcontrol','mousewheel', function() {

                map.addControl(
                        new MQA.LargeZoom(),
                        new MQA.MapCornerPlacement(MQA.MapCorner.TOP_LEFT, new MQA.Size(5,5))
                );

                map.addControl(new MQA.TrafficToggle());

                map.addControl(new MQA.ViewOptions());

                map.addControl(
                        new MQA.GeolocationControl(),
                        new MQA.MapCornerPlacement(MQA.MapCorner.TOP_RIGHT, new MQA.Size(10,50))
                );

                /*Inset Map Control options */
                var controlOptions={
                    size:{width:150, height:125},
                    zoom:15,
                    mapType:'map',
                    minimized: true
                };

                map.addControl(
                        new MQA.InsetMapControl(controlOptions),
                        new MQA.MapCornerPlacement(MQA.MapCorner.BOTTOM_RIGHT)
                );

                map.enableMouseWheelZoom();

                MQA.withModule('geocoder', function() {
                    /*Executes a geocode with an object containing lat/lng properties, adds result to the map, and
                     adds a function to be called once geocoding is complete.*/
                    map.reverseGeocodeAndAddLocation(
                            {lat:{{ haunted_location.latitude }}, lng:{{ haunted_location.longitude }}}, showAddress
                    );

                    /*Example function used to show the address of the geocoded location*/
                    function showAddress(data) {
                        var html = '';
                        var response = data.results[0].locations[0];

                        html = '<p><b>ADDRESS: </b>';
                        html += response.street + ', ';
                        html += response.adminArea5 + ', ' + response.adminArea3 + ' ' + response.postalCode + '</p>';
                        html += '<p><b>COUNTRY:</b>'
                        html += response.adminArea1+'<br>';
                        html += '<p><b>STATE:</b>'
                        html += response.adminArea3+'<br>'
                        document.getElementById('address').innerHTML = html;
                        map.setZoomLevel(15);
                    }

                });





            });
        });


    </script >

    <script type="text/javascript">
        var url = "http://en.wikipedia.org/w/api.php?action=parse&page={{ haunted_location_wikipedia_name }}&format=json&prop=text&section=0";


        $.ajax({
            type: 'GET',
            url: url,
            async: false,
            jsonpCallback: 'jsonCallback',
            contentType: "application/json",
            dataType: 'jsonp',
            success: function(json) {
                if (typeof json.error == "undefined"){
                    var html = '<p><b>'+json.parse.title +'</b>' ;
                    html += json.parse.text["*"]+'</p>';
                    document.getElementById('wikipedia').innerHTML=html;
                    item = document.getElementById('wikipedia');
                    $('#wikipedia a').contents().unwrap();
                    $('#wikipedia sup').remove();
                    $('#wikipedia table').remove();
                    $('#wikipedia .thumb').remove();
                    $('#wikipedia .error').hide();

                }


                contentHtml =  "<p>"+"<a href="+"http://en.wikipedia.org/wiki/{{ haunted_location_wikipedia_name }}"+">"+ "Original Wikipedia Article"+"</a>";
                document.getElementById('wikipedia_url').innerHTML = contentHtml;

            },
            error: function(e) {
                alert(e.message);
            }
        });




    </script>
{% endblock %}