
{% extends "website/base.html" %}
{%  block content %}
    <div class="container">
        <body onload="mapInit()">
        <div id="mapp" class="smallmap"></div>
        <div id="myData"></div>
        <p>Tiles Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png"></p>
    </div>
    </body>

    <style>

    </style>
{% endblock %}

{% block scripts %}

    {% include 'website/_index-script.html' %}

{% endblock %}



