html { height: 100%; }
body {
    height:100%;
    min-height: 100%;
    background: #FFFFFF;
    color: #000000;
    position:relative;
}
#header {
    height:50px;
    width:100%;
    top:0px;
    left:0px;
    background: #CCCCCC;
    position:absolute;
}
#footer {
    height:50px;
    width:100%;
    bottom:0px;
    left:0px;
    background: #CCCCCC;
    position:absolute;
}
#content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:100%;
    padding: 70px 20px;
}

.smallmap {
    height: 80%;
    width: 80%;
}